:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 0 100px 50px 100px;
    width: calc(100% - 200px);
    background-color: #35273a;
};

.filterBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    .filterButtonsContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 24px;

        .activeButton {
            background: #FEE9D4;
            width: 126px;
            height: 25px;
            gap: 10px;
            opacity: 1;
            padding-top: 2px;
            padding-right: 10px;
            padding-bottom: 2px;
            padding-left: 10px;
            border-radius: 20px;
            border: none;
            font-family: 'Nokora', sans-serif;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            cursor: pointer;

            &:hover {
                background: #FFCFA1;
            };

            &.is-active {
                background: #FFB770;
            };
        };

        .pastButton {
            background: #FEE9D4;
            width: 119px;
            height: 25px;
            gap: 10px;
            opacity: 1;
            padding-top: 2px;
            padding-right: 10px;
            padding-bottom: 2px;
            padding-left: 10px;
            border-radius: 20px;
            border: none;
            font-family: 'Nokora', sans-serif;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            cursor: pointer;

            &:hover {
                background: #FFCFA1;
            };

            &.is-active {
                background: #FFB770;
            };
        };
    };

    .sortByCategory {
        font-family: 'Mulish', sans-serif;
        border: 1px solid #8A38F5;
        color: #FFFFFF;
        text-align: start;
        font-weight: 700;
        font-style: Bold;
        font-size: 18px;
        letter-spacing: 0%;
        cursor: pointer;
        border: none;
        outline: none;
        background: transparent;
        appearance: none;
        -webkit-appearance: none;
        background-image: url(../../../../../public/arrow_drop_down.png);
        background-repeat: no-repeat;
        background-position: right 8px center;
        padding-right: 28px;
        padding-left: 8px;
        border-radius: 4px;

        &:hover {
            background-color: #D9D9D91F;
            background-image: url(../../../../../public/arrow_drop_down_hover.png);
            background-repeat: no-repeat;
            background-position: right 8px center;
        };

        &.is-open {
            background-color: #D9D9D91F;
            background-image: url(../../../../../public/arrow_drop_down_reverse.png);
            background-repeat: no-repeat;
            background-position: right 8px center;
        };
    };

    .filteroption {
        color: black;
    };
};

.surveyCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 80%;
    max-height: 380px;
    overflow-y: auto;
    padding-right: 16px;
    scrollbar-color: #FFB770 transparent;  /* <-- Firefox */
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 6px;
    };

    &::-webkit-scrollbar-track {
        background: transparent;
    };

    &::-webkit-scrollbar-thumb {
        background-color: #FFB770;
        border-radius: 3px;
    };

    .surveyCard {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 24px;
        background: #D9D9D914;
        border-top-left-radius: 5px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-top: 12px;
        padding-right: 20px;
        padding-bottom: 12px;
        padding-left: 20px;
        cursor: pointer;

        &:hover {
            background: #D9D9D929;
        };

        .surveyInfo {
            width: 100%;
        };

        .surveyCategory {
            color: #FFCFA1;
            font-family: 'Mulish', sans-serif;
            font-weight: 600;
            font-style: SemiBold;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            padding-bottom: 8px;
        };

        .surveyName {
            color: #ffffff;
            font-family: 'Mulish', sans-serif;
            font-weight: 700;
            font-style: Bold;
            font-size: 26px;
            line-height: 100%;
            letter-spacing: 0%;
        };

        .surveyEndDate {
            background: #FFCFA1;
            width: 91px;
            gap: 10px;
            opacity: 1;
            border-top-right-radius: 14px;
            padding-top: 3px;
            padding-right: 6px;
            padding-bottom: 3px;
            padding-left: 6px;
            font-family: 'Mulish', sans-serif;
            font-weight: 500;
            font-style: Medium;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
        };
    };
};