<div class="filterBar">
    <div class="filterButtonsContainer">
        <button class="activeButton"
            [class.is-active]="activeFilter === 'active'"
            (click)="toggleFilter('active')">Active surveys</button>
        <button class="pastButton"
            [class.is-active]="activeFilter === 'past'"
            (click)="toggleFilter('past')">Past surveys</button>
    </div>
    <select class="sortByCategory"
        [class.is-open]="isSelectOpen"
        (focus)="isSelectOpen = true"
        (blur)="isSelectOpen = false"
        (change)="isSelectOpen = false"
        (keydown.escape)="isSelectOpen = false">
        <option class="filteroption" value="">Sort by category</option>
        <option class="filteroption" value="team-activities">Team Activities</option>
        <option class="filteroption" value="health-wellness">Health & Wellness</option>
        <option class="filteroption" value="gaming-entertainment">Gaming & Entertainment</option>
        <option class="filteroption" value="education-learning">Education & Learning</option>
        <option class="filteroption" value="lifestyle-preferences">Lifestyle & Preferences</option>
        <option class="filteroption" value="technology-innovation">Technology & Innovation</option>
    </select>
</div>

<div class="surveyCardsContainer">

    <div class="surveyCard" *ngFor="let survey of surveys" (click)="navigateToSurvey(survey.id)">
        <div class="surveyInfo">
            <p class="surveyCategory">{{ survey.category }}</p>
            <p class="surveyName">{{ survey.name }}</p>
        </div>
        <p class="surveyEndDate">Ends in: {{ daysRemaining(survey.end_data) }}</p>
    </div>

</div>