<div class="filterBar">
    <div class="filterButtonsContainer">
        <button class="activeButton">Active surveys</button>
        <button class="pastButton">Past surveys</button>
    </div>
    <select class="sortByCategory">
        <option value="">Sort by category</option>
        <option value="politics">Politics</option>
        <option value="sports">Sports</option>
        <option value="technology">Technology</option>
    </select>
</div>

<div class="surveyCardsContainer">
    <div class="surveyCard">
        <div class="surveyInfo">
            <p class="surveyCategory">Survey Category:</p>
            <p class="surveyDescription">Survey Description:</p>
        </div>
        <p class="surveyEndDate">Ends in 1 Day</p>
    </div>
    <div class="surveyCard">
        <div class="surveyInfo">
            <p class="surveyCategory">Survey Category:</p>
            <p class="surveyDescription">Survey Description:</p>
        </div>
        <p class="surveyEndDate">Ends in 2 days</p>
    </div>
    <div class="surveyCard">
        <div class="surveyInfo">
            <p class="surveyCategory">Survey Category:</p>
            <p class="surveyDescription">Survey Description:</p>
        </div>
        <p class="surveyEndDate">Ends in 2 days</p>
    </div>
    <div class="surveyCard">
        <div class="surveyInfo">
            <p class="surveyCategory">Survey Category:</p>
            <p class="surveyDescription">Survey Description:</p>
        </div>
        <p class="surveyEndDate">Ends in 3 days</p>
    </div>
    <div class="surveyCard">
        <div class="surveyInfo">
            <p class="surveyCategory">Survey Category:</p>
            <p class="surveyDescription">Survey Description:</p>
        </div>
        <p class="surveyEndDate">Ends in 4 days</p>
    </div>
    <div class="surveyCard">
        <div class="surveyInfo">
            <p class="surveyCategory">Survey Category:</p>
            <p class="surveyDescription">Survey Description:</p>
        </div>
        <p class="surveyEndDate">Ends in 5 days</p>
    </div>
    <div class="surveyCard">
        <div class="surveyInfo">
            <p class="surveyCategory">Survey Category:</p>
            <p class="surveyDescription">Survey Description:</p>
        </div>
        <p class="surveyEndDate">Ends in 6 days</p>
    </div>
    <div class="surveyCard">
        <div class="surveyInfo">
            <p class="surveyCategory">Survey Category:</p>
            <p class="surveyDescription">Survey Description:</p>
        </div>
        <p class="surveyEndDate">Ends in 7 days</p>
    </div>
    <div class="surveyCard">
        <div class="surveyInfo">
            <p class="surveyCategory">Survey Category:</p>
            <p class="surveyDescription">Survey Description:</p>
        </div>
        <p class="surveyEndDate">Ends in 8 days</p>
    </div>
    <div class="surveyCard">
        <div class="surveyInfo">
            <p class="surveyCategory">Survey Category:</p>
            <p class="surveyDescription">Survey Description:</p>
        </div>
        <p class="surveyEndDate">Ends in 9 days</p>
    </div>
    <div class="surveyCard">
        <div class="surveyInfo">
            <p class="surveyCategory">Survey Category:</p>
            <p class="surveyDescription">Survey Description:</p>
        </div>
        <p class="surveyEndDate">Ends in 10 days</p>
    </div>
</div>