<h2>Your Surveys</h2>

<div class="yourSurveysContainer">
    <h3>Ending soon surveys</h3>

    <div class="endingSoonSurveys">

        <div class="surveyCard">
            <div>
                <p>Survey Category:</p>
                <h4>Survey Description:</h4>
            </div>
            <p>Ends on: 2024-06-01</p>
        </div>  
        <div class="surveyCard">
            <div>
                <p>Survey Category:</p>
                <h4>Survey Description:</h4>
            </div>
            <p>Ends on: 2024-06-01</p>
        </div>
        <div class="surveyCard">
            <div>
                <p>Survey Category:</p>
                <h4>Survey Description:</h4>
            </div>
            <p>Ends on: 2024-06-01</p>
        </div>

    </div>    
</div> 