:host {
  display: block;
  padding: 0 40px 40px 40px;
  background: #ffffff;
  height: calc(100vh - 175px);
};

.content-limit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
