@media (max-width: 920px) {
  .detailPage {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .detailPage .surveyForm {
    max-width: 100%;
  }

  .detailPage .surveyForm h1 {
    font-size: 48px;
    line-height: 42px;
  }

  .detailPage .resultsPanel {
    width: 100%;
    min-height: auto;
  }
}

@media (max-width: 600px) {
  .detailPage .surveyForm .surveyMeta .backButton {
    display: block;
  }

  .detailPage .surveyForm {
    padding: 16px;
  }

  .detailPage .surveyForm .questionsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 530px) {
  :host {
    padding: 0 16px 0 16px;
  }

  .detailPage .surveyForm .completeButton .labelDesktop {
    display: none;
  }

  .detailPage .surveyForm .completeButton .labelMobile,
  .detailPage .surveyForm .completeButton .checkIcon {
    display: inline-block;
  }
}
