<div class="detailPage" *ngIf="survey">

  <div class="surveyForm">

    <div class="surveyMeta">

      <div class="statusBar">
        <span class="statusBadge">{{ survey.status }}</span>
        <button class="backButton" (click)="goToHome()">
          X
        </button>
      </div>

      <div class="metaRow">
        <p class="endDate">Ends on {{ survey.end_data }}</p>
        <p class="category">Category: {{ survey.category }}</p>
      </div>
    </div>

    <h1>{{ survey.name }}</h1>
    <p class="description">{{ survey.description }}</p>

    <div class="questionsGrid">
      <div class="questionCard" *ngFor="let question of questions">
        <p class="questionText">{{ question.order }}. {{ question.text }}</p>
        <p class="multiHint" *ngIf="question.multiple">More than one answer is possible.</p>
        <div class="optionsList">
          <label class="option" *ngFor="let option of question.options; let i = index" [class.selected]="isSelected(question.id, i)">
            <input type="checkbox" [checked]="isSelected(question.id, i)" (change)="selectOption(question.id, i)">
            <span class="optionText">{{ option }}</span>
          </label>
        </div>
      </div>
    </div>

    <button class="completeButton" (click)="onCompleteSurvey()" [disabled]="isSubmitting">
      @if (isSubmitting) {
        Submitting...
      } @else {
        <span class="labelDesktop">Complete survey</span>
        <span class="labelMobile">Complete</span>
        <img src="check.png" alt="" class="checkIcon">
      }
    </button>

    <div class="submitOverlay" *ngIf="submitMessage"> {{ submitMessage }} </div>

  </div>

  <div class="resultsPanel" [class.has-results]="hasAnyResults()">
    <h2>Survey results <span class="live">LIVE</span></h2>
    <ng-container *ngIf="hasAnyResults(); else noResultsState">
      <div class="resultQuestion" *ngFor="let question of questions">
        <p class="resultQuestionTitle">{{ question.order }}. {{ question.text }}</p>

        <div class="resultRow" *ngFor="let option of question.options; let i = index">
          <span class="resultLabel">{{ getOptionLetter(i) }}</span>

          <div class="resultTrack">
            <div class="resultBar" [style.width.%]="getResultPercent(question.id, i)"></div>
          </div>

          <span class="resultPercent">{{ getResultPercent(question.id, i) }}%</span>
        </div>
      </div>
    </ng-container>

    <ng-template #noResultsState>
      <p class="noResults">Results will be shown here after participants complete the survey.</p>
      <p class="noAnswers">There are no answers yet.</p>
    </ng-template>
  </div>

</div>
