@font-face {
    font-family: 'Mulish';
  src: url('assets/fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
};

@font-face {
    font-family: 'NerkoOne';
  src: url('assets/fonts/Nerko_One/NerkoOne-Regular.ttf') format('truetype');
};

@font-face {
    font-family: 'Nokora';
  src: url('assets/fonts/Nokora/static/Nokora-Regular.ttf') format('truetype');
};

*{
    margin: 0;
    padding: 0;
};

body {
    width: 100%;
    height: 100vh;
};

app-root {
    background-color:#35273a;
    display: inline-block;
    width: 100%;
    height: 100vh;
};

button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}