@font-face {
    font-family: 'Mulish';
    src: url('/font/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
};

@font-face {
    font-family: 'NerkoOne';
    src: url('/font/Nerko_One/NerkoOne-Regular.ttf') format('truetype');
};

@font-face {
    font-family: 'Nokora';
    src: url('/font/Nokora/static/Nokora-Regular.ttf') format('truetype');
};

*{
    margin: 0;
    padding: 0;
};

body {
    display: flex;
    justify-content: center;
};

app-root {
    width: 1440px;
};