@font-face {
    font-family: 'Mulish';
    src: url('/font/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
};

@font-face {
    font-family: 'NerkoOne';
    src: url('/font/Nerko_One/NerkoOne-Regular.ttf') format('truetype');
};

@font-face {
    font-family: 'Nokora';
    src: url('/font/Nokora/static/Nokora-Regular.ttf') format('truetype');
};

*{
    margin: 0;
    padding: 0;
};

body {
    display: flex;
    justify-content: center;
    width: 100%;
};

app-root {
    width: 100%;
    max-width: 1440px;
};

button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}