<h2>Your Surveys</h2>

<div class="yourSurveysContainer">
    <h3>Ending soon surveys</h3>

    <div class="endingSoonSurveys">

        <div class="surveyCard">
            <div>
                <p class="surveyCategory">Survey Category:</p>
                <p class="surveyDescription">Survey Description:</p>
            </div>
            <p class="surveyEndDate">Ends in: 3 days</p>
        </div>  

        <div class="surveyCard">
            <div>
                <p class="surveyCategory">Survey Category:</p>
                <p class="surveyDescription">Survey Description:</p>
            </div>
            <p class="surveyEndDate">Ends in 2 days</p>
        </div>
        
        <div class="surveyCard">
            <div>
                <p class="surveyCategory">Survey Category:</p>
                <p class="surveyDescription">Survey Description:</p>
            </div>
            <p class="surveyEndDate">Ends in 1 Day</p>
        </div>

    </div>    
</div> 